# Making App With SQL Integration

In [2]:
import mysql.connector

In [2]:
# connecting with mysql
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ketan",
)
cursor = conn.cursor()

In [3]:
# dropping database if exists
cursor.execute("DROP DATABASE IF EXISTS report_card")
conn.commit()

In [4]:
# creating the database
cursor.execute("Create Database report_card") #database added in mysql

In [5]:
cursor.close()
conn.close()

In [6]:
# using the database which was created
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ketan",
    database="report_card"
)
cursor = conn.cursor()

In [7]:
# dropping table if exists
cursor.execute("DROP TABLE IF EXISTS students")
conn.commit()

In [8]:
# creating table schema
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students(
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        age INT,
        python INT,
        numpy INT,
        pandas INT,
        `sql` INT,
        power_bi INT
    )
''')

In [9]:
# Adding column in table
cursor.execute('''
    ALTER TABLE students
    ADD COLUMN course VARCHAR(100)
''')

In [10]:
cursor.close()
conn.close()

## Now making app

In [2]:
def app():
    # Establishing connection to MySQL database
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ketan",
    database="report_card"
    )
    cursor = conn.cursor()
    print('*'*10 + " Welcome to \033[1m\033[34mXYZ Institute \033[0m\033[0m" + '*'*10)
    print()

    # Starting an infinite loop to continuously prompt user for options
    while True:
        print("\nChoose from the following:")
        print('''
        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit''')
        print()
        try:

            # Taking user input and convert it to integer
            var = int(input("Enter number what you want to perform : "))
            if var == 1:
                input_details(cursor,conn)
        
            elif var == 2:
                view_details(cursor,conn)
            
            elif var == 3:
                generate_report_card(cursor,conn)
    
            elif var == 4:
                update_details(cursor,conn)
                
            elif var == 5:
                delete_details(cursor,conn)
            
            elif var == 6:
                # Exit the program
                print()
                print("Thankyou! for using XYZ Institute App. Will see you soon!!!!")
                cursor.close()
                conn.close()
                break
        
            else:
                # Handling invalid choices that are outside given options
                print()
                print("\n Choose the number from the given option only.")
                print()

        except ValueError:
            # Handling invalid inputs which are not integers
            print("\n\033[1m\033[31mInvalid input. Please enter integer only that are given in options...\033[0m\033[0m")

## Now creating functions to input the details

In [4]:
def input_details(cursor,conn):
    try:
        name = input("Enter Student Name : ")

        # Validating that the name contains only alphabetic characters and spaces
        if not name.replace(" ", "").isalpha():
            print("\n\033[1m\033[31mName must contain only alphabetic characters.\033[0m\033[0m")
            raise ValueError
        age = int(input("Enter Student Age : "))
        
        # Age is a positive number greater than zero
        if age <= 0:
            print("\n\033[1m\033[31mAge must be a positive number greater than 0.\033[0m\033[0m")
            raise ValueError

        # Creating inner function to validate marks for each subject
        def valid_marks(sub):
            marks = int(input(f"Enter Student {sub} marks : "))
            if marks<0 or marks>100:
                print("\n\033[1m\033[31mMarks can't be greater than 100.\033[0m\033[0m")
                raise ValueError
            return marks
            
        # now collecting marks for each subject
        python = valid_marks("Python")
        numpy = valid_marks("Numpy")
        pandas = valid_marks("Pandas")
        sql = valid_marks("SQL")
        power_bi = valid_marks("Power BI")
        course = input("Enter Student Selected Course : ")
        if not course.replace(" ", "").isalpha():
            print("\n\033[1m\033[31mCourse must contain only alphabetic characters.\033[0m\033[0m")
            raise ValueError
        
        # Preparing and executing SQL INSERT query to add student details into database
        cursor.execute('''
            INSERT INTO students (name, age, python, numpy, pandas, `sql`, power_bi, course)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ''', (name, age, python, numpy, pandas, sql, power_bi, course))
        # we can also use
        # '''
        # cursor.execute('''INSERT INTO students (name, age, python, numpy, pandas, `sql`, power_bi)
        # VALUES ('{}', {}, {}, {}, {}, {}, {}, {})
        # '''.format(name, age, python, numpy, pandas, sql_score, power_bi, course)
        
        # Commiting the transaction to save changes
        conn.commit()
        print("Student data inserted successfully!\n")

    except:
        print("\n\033[1m\033[31mInvalid input.\033[0m\033[0m")

In [5]:
app()

********** Welcome to XYZ Institute **********


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  1
Enter Student Name :  Neha
Enter Student Age :  23
Enter Student Python marks :  90
Enter Student Numpy marks :  83
Enter Student Pandas marks :  71
Enter Student SQL marks :  98
Enter Student Power BI marks :  69
Enter Student Selected Course :  DA

Student data inserted successfully!


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  6

Thankyou! for using XYZ Institute App. Will see you soon!!!!

## Creating function to view student details

In [6]:
def view_details(cursor,conn):
    try:
        new_id = int(input('Enter Student Id to view details: '))
        cursor.execute("Select id, name, age, course from students where id = %s", (new_id,))
        output = cursor.fetchone()
    
        if output:
            print(f"\nStudent Details:")
            print(f"\nID     : {output[0]}")
            print(f"Name   : {output[1]}")
            print(f"Age    : {output[2]}")
            print(f"Course : {output[3]}\n")
    
        else:
            print(f"\nNo Student Found!!!!!")

    except ValueError:
            print("\n\033[1m\033[31mInvalid input. Please enter Student ID correctly...\033[0m\033[0m")

In [7]:
app()

********** Welcome to XYZ Institute **********


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  2
Enter Student Id to view details:  1

Student Details:

ID     : 1
Name   : Rahul
Age    : 21
Course : DA


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  6

Thankyou! for using XYZ Institute App. Will see you soon!!!!

## Creating function to update student details

In [11]:
def update_details(cursor,conn):
    try:
        new_id = int(input('Enter Student Id to update the details '))
        cursor.execute("Select * from students where id = %s", (new_id,))
        data = cursor.fetchone()
        
        # Checking if student exists in the database
        if data:
            print(f"\nStudent found: \nName - {data[1]} \nAge - {data[2]} \nCourse - {data[8]}\n")
            print(f"{data[1]} Marks: \nPython - {data[3]} \nNumpy - {data[4]} \nPandas - {data[5]} \nSQL - {data[6]} \nPower BI - {data[7]}")
    
            while True:

                # Displaying options to the user for what they want to update
                print('''
                \nWhat would you like to update?
                1. Student Details
                2. Marks
                3. Both
                4. Exit without changes\n
                ''')
                try:
                    choice = int(input("Enter your choice (1/2/3/4): "))
                
                    if choice == 1:
                        try:
                            # Update only student's basic details (name, age, course)
                            new_name = input("Enter new name: ")
                            new_age = int(input("Enter new age: "))
                            new_course = input("Enter new course: ")
                
                            cursor.execute("""
                                UPDATE students 
                                SET name = %s, age = %s, course = %s 
                                WHERE id = %s
                            """, (new_name, new_age, new_course, new_id))
                            conn.commit()
                            print("\nStudent details updated.")
                            
                            break
                        except:
                            print("\n\033[1m\033[31mInvalid input. Please enter information correctly...\033[0m\033[0m")
                    
                    elif choice == 2:
                        try:
                            # Update only marks for all subjects
                            python = int(input("Enter Python marks: "))
                            numpy = int(input("Enter NumPy marks: "))
                            pandas = int(input("Enter Pandas marks: "))
                            sql = int(input("Enter SQL marks: "))
                            power_bi = int(input("Enter Power BI marks: "))
                
                            cursor.execute("""
                                UPDATE students 
                                SET python = %s, numpy = %s, pandas = %s, `sql` = %s, power_bi = %s 
                                WHERE id = %s
                            """, (python, numpy, pandas, sql, power_bi, new_id))
                            conn.commit()
                            print("\nMarks updated.")
                            
                            break
                        except ValueError:
                            print("\n\033[1m\033[31mInvalid input. Please enter marks correctly...\033[0m\033[0m")
                    
                    elif choice == 3:
                        try:
                            # Update both personal details and marks
                            new_name = input("Enter new name: ")
                            new_age = int(input("Enter new age: "))
                            new_course = input("Enter new course: ")
                            python = int(input("Enter Python marks: "))
                            numpy = int(input("Enter NumPy marks: "))
                            pandas = int(input("Enter Pandas marks: "))
                            sql = int(input("Enter SQL marks: "))
                            power_bi = int(input("Enter Power BI marks: "))
                
                            cursor.execute("""
                                UPDATE students 
                                SET name = %s, age = %s, course = %s,
                                    python = %s, numpy = %s, pandas = %s, `sql` = %s, power_bi = %s 
                                WHERE id = %s
                            """, (new_name, new_age, new_course, python, numpy, pandas, sql, power_bi, new_id))
                            conn.commit()
                            print("\nStudent details and marks updated.")
                            break
                        except:
                            print("\n\033[1m\033[31mInvalid input. Please enter information correctly...\033[0m\033[0m")
                    
                    elif choice == 4:
                        # Exit without making any changes
                        print("\nExited without making any changes.\n")
                        return
            
                    else:
                        print("\nInvalid choice. Choose again!.\n")

                except ValueError:
                    print("\n\033[1m\033[31mInvalid input. Enter the integer only...\033[0m\033[0m")
        
            print("\n Update completed successfully.\n")
    
        else:
            print("\n No student found with given ID.\n")

    except ValueError:
        print("\n\033[1m\033[31mInvalid input. Please enter Student ID correctly...\033[0m\033[0m")

In [12]:
app()

********** Welcome to XYZ Institute **********


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  4
Enter Student Id to update the details  2

Student found:
Name - Neha
Age - 23
Course - DA

Neha Marks:
Python - 90
Numpy - 83
Pandas - 71
SQL - 98
Power BI - 69


What would you like to update?
                1. Student Details
                2. Marks
                3. Both
                4. Exit without changes

Enter your choice (1/2/3/4):  a

Invalid input. Enter the integer only...


What would you like to update?
                1. Student Details
                2. Marks
                3. Both
                4. Exit without changes

Enter your choice (1/2/3/4):  1
Enter new name:  Neha Rawat
Enter new age:  23
Enter new course:  DS

Student details updated.

 Update completed successfully.


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  6

Thankyou! for using XYZ Institute App. Will see you soon!!!!

## Creating function to delete record

In [18]:
def delete_details(cursor,conn):
    try:
        # user to input the Student ID
        stu_id = int(input('Enter Student Id to delete the details :'))
        
        # excuting query
        cursor.execute("Select * from students where id = %s", (stu_id,))
        data = cursor.fetchone()
    
        if data:
            # If student exists, confirm deletion from the user
            while True:
                confirmation = input(f"Are you sure you want to delete student '{data[1]}'? (yes/no): ").lower()
                if confirmation == 'yes':

                    # If user confirms, delete the record
                    cursor.execute("delete from students where id = %s", (stu_id,))
                    conn.commit()
                    print("\nrecord deleted successfully.")
                    break
                    
                elif confirmation == 'no':

                    # If not than don't delete the record
                    print("\nDeletion Cancelled!!!")
                    break
                
                else:
                    print("\nOnly choose yes or no")
    
        else:
            print("\n No student found with given ID.\n")

    except ValueError:
        print("\n\033[1m\033[31mInvalid input. Please enter Student ID correctly...\033[0m\033[0m")

## Creating function to generate report card

In [19]:
def generate_report_card(cursor,conn):
    try:
        #user to enter a student ID
        new_id = int(input('Enter Student Id to view report card: '))

        # Fetching details for the given student ID
        cursor.execute("Select * from students where id = %s", (new_id,))
        data = cursor.fetchone()
    
    # If student exists 
        if data:
            subjects = {
                'Python': data[3],
                'NumPy': data[4],
                'Pandas': data[5],
                'SQL': data[6],
                'Power BI': data[7]
            }
            # Created a dictionary of subjects and marks

            
            # Now calculating total, percentage, and result
            total = sum(subjects.values())
            per = round(total / len(subjects),2)
            result = "Pass" if per >= 40 else "Fail"
    
    # generating grades
            if per > 90:
                grade = "A+"
            elif per >= 80:
                grade = "A"
            elif per >= 70:
                grade = "B"
            elif per >= 60:
                grade = "C"
            elif per >= 50:
                grade = "D"
            else:
                grade = "F"
    
            
    # Build the report card layout
            
    # creating header
            content_lines = [
                "",
                "",
                f"Name   : {data[1]:<20} Id     : {data[0]}",
                f"Age    : {data[2]:<20} Course : {data[8]}",
                "",
                "                REPORT CARD             ",
                "+--------------------+----------+",
                "| Subjects           |    Marks |",
                "+--------------------+----------+"
            ]
            # Adding & appending marks
            for sub, mark in subjects.items():
                content_lines.append(f"| {sub:<18} | {mark:>8} |")
            content_lines.append("+----------------------+--------+")
            content_lines += [
                "",
                f"Total Marks : {total:<14} Grade  : {grade}",
                f"Percentage  : {per:<14} Result : {result}",
                ""
            ]

            # Determine the max line width for borders
            max_len = max(len(line) for line in content_lines)
            content_lines.append("Official Sign : XYZ Institute".rjust(max_len))
            content_lines += [
                "",
                "This ia an automated generated report card"
            ]

            # Title in center with formatting
            title = "**** XYZ Institute ****".center(max_len)
            content_lines[0] = f"\033[1;3m{title}\033[0m" 
            lines = "".rjust(max_len,"-")
            content_lines[4] = lines
            
            # creating outer border
            border = "+" + "-" * (max_len + 2) + "+"

            # Printing report card
            print("\n" + border)
            for line in content_lines:
                print(f"| {line.ljust(max_len)} |")
            print(border + "\n")
    
        else:
            print("\nNo student found!!!!!!!!!")

    except ValueError:
            print("\n\033[1m\033[31mInvalid input. Please enter Student ID correctly...\033[0m\033[0m")

In [20]:
app()

********** Welcome to XYZ Institute **********


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  3
Enter Student Id to view report card:  2

+--------------------------------------------+
|          **** XYZ Institute ****           |
|                                            |
| Name   : Neha Rawat           Id     : 2   |
| Age    : 23                   Course : DS  |
| ------------------------------------------ |
|                 REPORT CARD                |
| +--------------------+----------+          |
| | Subjects           |    Marks |          |
| +--------------------+----------+          |
| | Python             |       90 |          |
| | NumPy              |       83 |          |
| | Pandas             |       71 |          |
| | SQL                |       98 |          |
| | Power BI           |       69 |          |
| +----------------------+--------+          |
|                                            |
| Total Marks : 411            Grade  : A    |
| Percentage  : 82.2           Result : Pass |
|                                            |
|              Official Sign : XYZ Institute |
|                                            |
| This ia an automated generated report card |
+--------------------------------------------+


Choose from the following:

        1. To enter student details
        2. To view student details
        3. To see report card
        4. To update student details
        5. To delete student details
        6. To exit

Enter number what you want to perform :  6

Thankyou! for using XYZ Institute App. Will see you soon!!!!